form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    background-color: rgb(90, 211, 199);
    width: 40%;
    padding: 20px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px rgb(183, 183, 183);
}

.intem-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 10px;
}

input,
select {
    border: none;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.90);
    margin: 5px 0px;
    padding: 5px 10px;
    box-shadow: 1px 1px 1px 1px rgb(183, 183, 183);
}

.btn-submit {
    width: 100px;
    margin: auto;
}