main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px 80px;
}

/*************************************************************************
**************************** HEADER **************************************
*************************************************************************/

header {
    background-color: rgba(90, 211, 199, 0.3);
    /* padding: 20px; */
    display: flex;
    justify-content: space-between;
}

.header-logo {
    width: 100px;
    margin: 10px;
}

nav {
    display: flex;
    align-items: center;
    margin: 0 50px;
}

nav>ul {
    display: flex;
    gap: 10px;
}

.nav-link-box {
    text-align: center;
    vertical-align: middle;
}

.nav-link {
    color: rgba(26, 42, 58, 1);
    font-size: 16px;
}

/*************************************************************************
**************************** FOOTER **************************************
*************************************************************************/

footer {
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: rgba(26, 42, 58, 0.3);
    padding: 30px 20px 10px;
}

.footer-info {
    text-align: center;
}