* {
    font-family: 'Montserrat', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(255, 255, 255);
    color: rgb(46, 46, 46);
}

main {
    max-width: 1100px;
    margin: 0 auto;
    padding: 40px 20px 80px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: rgb(17, 0, 125);
}

button {
    border: none;
    background: none;
    cursor: pointer;  
}

img {
    width: 100%;
}