* {
    font-family: Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: rgb(17, 0, 125);
}

button {
    border: none;
    background: none;
    cursor: pointer;  
}

img {
    width: 100%;
}