.cards-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: flex-start;
}

.cards-grid .info-card {
    flex: 0 0 calc((100% - 3rem) / 3);
}

/* =======================================================================
========================== RESPONSIVE ====================================
======================================================================= */

@media (max-width: 1024px) {

    .cards-grid .info-card {
        flex: 0 0 calc((100% - 1.5rem) / 2);
    }
    
}

@media (max-width: 600px) {

    .cards-grid {
        justify-content: center;
        align-items: center;
    }

    .cards-grid .info-card {
        flex: 0 0 calc((100% - 1.5rem) / 1);
    }

}