.section-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 50px;
    width: 100%;
}

.section-header--left {
    text-align: left;
}

.section-header--center {
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.section-header__content {
    max-width: 700px;
}

.section-header__title {
    font-size: 2rem;
    line-height: 1.2;
    margin-bottom: 0.75rem;
}

.section-header__description {
    font-size: 16px;
    line-height: 1.6;
    color: var(--color-description-light);
}

/* =======================================================================
========================== RESPONSIVE ====================================
======================================================================= */

@media (max-width: 1024px) {
    .section-header {
        flex-wrap: wrap;
        gap: 24px;
    }

    .section-header__content {
        width: 100%;
    }

}

@media (prefers-color-scheme: dark) {
    .section-header__description {
        color: var(--color-description-dark);
    }
}