/****************************
***** Section Container *****
****************************/

.section {
    width: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.section--default {
    background-color: transparent;
}

/***************************
******   RESPONSIVE   ******
***************************/

@media (max-width: 1024px) {
    .section {
        padding: 26px;
        gap: 26px;
    }
}

@media (max-width: 600px) {

}